{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<title>
  Mob-typing</title>
  
  <h1>MobType Finder</h1>

{% block content %}
{{ wtf.quick_form(form) }}

{% if q == None %}
<b>Organism not found in database</b>
{% else %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Accession</th>
        <th>rep_type</th>
        <th>rep_type_accession</th>
        <th>predicted_mobility</th>
        <th>Organism</th>
        <th>taxid</th>
      </tr>
    </thead>
    <tbody>
    
        <tr>
          <td>{{ q.sample_id }}</td>
          <td>{{ q.rep_type }}</td>
          <td>{{ q.rep_type_accession }}</td>
          <td>{{ q.predicted_mobility }}</td>
          <td>{{ q.organism }}</td>
          <td>{{ q.taxid }}</td>
        </tr>

    </tbody>
  </table>
{% endif %}
{% endblock %}


<!--<form>
    <input name="Search" type="text">
    <input name="submit" type="Submit">
</form>
-->
</html>