<!DOCTYPE html>
<html>
<head>
<!-- HTML Codes by Quackit.com -->
<title>
Mob-typing</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="plasmid,inC typing,plasmid backbone,mauve,blast,ncbi genbank">
<meta name="description" content="Web application for performing pairwise comparison of plasmid sequences and typing.">
<style>
body {background-color:#ffffff;background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
h1{font-family:Arial, sans-serif;color:#000000;background-color:#ffffff;}
p {font-family:Georgia, serif;font-size:14px;font-style:normal;font-weight:normal;color:#000000;background-color:#ffffff;}
</style>
</head>
<body>
<h1>MobType Finder</h1>
<p>This web application can perform the following tasks:</p>
<ol>
    <li>Download the CSV summary results from NCBI </li>
    <li>Enter the ACCESSION # of an organism and it returns its mob-type</li>
    <li>If mob-type not found in 2 then it goes ahead to perform mob-typing on the replicon & add it to the database</li>
</ol>
</body>
</html>