<!DOCTYPE html>
<html>
<head>
<!-- HTML Codes by Quackit.com -->
<title>
PairComp</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="plasmid,inC typing,plasmid backbone,mauve,blast,ncbi genbank">
<meta name="description" content="Web application for performing pairwise comparison of plasmid sequences and typing.">
<style>
body {background-color:#ffffff;background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
h1{font-family:Arial, sans-serif;color:#000000;background-color:#ffffff;}
p {font-family:Georgia, serif;font-size:14px;font-style:normal;font-weight:normal;color:#000000;background-color:#ffffff;}
</style>
</head>
<body>
<h1>PairComp Analyzer</h1>
<p>This web application can perform the following tasks:</p>
<p><a href="C:\Users\Belson\WebProj\PlasComp\templates\mauve.html">alignment using Mauve</a></p>
<!--<p><a href="C:\Users\Belson\WebProj\PlasComp\templates\blastbone.html">Blast the plasmid backbone</a></p>-->
<p><a href="{{url}}">Blast the plasmid backbone</a></p>
<p><a href="{{inc_url}}">Find the incType of the plasmid backbone and its similar sequences</a></p>
</body>
</html>